@font-face
{	
    font-family: 'Onesize';
    src: url('../assets/onesize.ttf') format('truetype');
}

@font-face
{	
    font-family: 'OnesizeReverse';
    src: url('../assets/onesize-reverse.ttf') format('truetype');
}