
<ul>
    <li @onclick="@(() => ChangeValue("Look at"))">Look at</li>
    <li @onclick="@(() => ChangeValue("Push"))">Push</li>
    <li @onclick="@(() => ChangeValue("Pull"))">Pull</li>
</ul>

@code {

    @*[CascadingParameter]
    protected ScriptCascading Script { get; set; }*@

    [Parameter]
    public string Verb { get; set; }

    [Parameter]
    public EventCallback<string> VerbChanged { get; set; }

    private async Task ChangeValue(string value)
    {
        Console.WriteLine(value);

        //Script.SetVerb(value);
        await VerbChanged.InvokeAsync(value);
    }

}