#container {
    width: 100%;
    height: 25%;
    overflow-y: auto;
}

ul {
    margin-top: min(1.5vh, 1.5vw);
}

li {
    color: white;
    font-size: min(3vh, 3vw);
}

li:hover {
    color: yellow;
}