@implements IDisposable
@inject IGameManifestRepository _gameManifestRepository
@inject IGameScriptLoader _gameScriptLoader
@inject ISaveGameRepository _saveGameRepository

@if (_gameScriptLoader.ScriptErrors.Any())
{
    <p>Whoops! Failed to load game script:</p>
    <ul class="errorList">
    @foreach (var error in _gameScriptLoader.ScriptErrors)
    {
        <li class="errorMessage">
            @(error.Path)(@error.Line,@error.Character): @error.Message
        </li>
    }
    </ul>
}
else
{
    <div id="room-view">
        <RoomView />
    </div>
    <div id="action-bar">
        <ActionBar />
    </div>
    <div id="ui-controls">
        <div id="verb-picker">
            <VerbPicker />
        </div>
        <div id="inventory-view">
            <InventoryView />
        </div>
    </div>
}

@code {

    private GameManifest? _manifest;
    private GameScript? _script;

    [CascadingParameter]
    public IMediator Mediator { get; set; } = null!;

    protected override void OnInitialized()
    {
        Mediator.Subscribe<StartGame>(OnStartGameAsync);
        Mediator.Subscribe<ExecutePlayerAction>(OnExecutePlayerActionAsync);
        Mediator.Subscribe<ContinueDialogue>(OnContinueDialogueAsync);
        Mediator.Subscribe<SaveGame>(OnSaveGameAsync);
        Mediator.Subscribe<LoadGame>(OnLoadGameAsync);
        Mediator.Subscribe<RefreshGameScript>(OnRefreshGameScriptAsync);
    }

    private async Task OnStartGameAsync(StartGame command)
    {
        _manifest = await _gameManifestRepository.TryLoadGameManifest(
            command.DiskNumber);
        
        if (_manifest is not null)
        {
            await Mediator.PublishAsync(new GameManifestLoaded(_manifest));

            _script = await _gameScriptLoader.LoadFromManifestAsync(_manifest);
            if (_script is not null)
            {
                await _script.StartGameAsync(Mediator);
            }
            else
            {
                // Failed to load script, re-render to show errors.
                StateHasChanged();
            }
        }
    }

    private async Task OnExecutePlayerActionAsync(ExecutePlayerAction command)
    {
        if (_script is not null)
        {
            await _script.ExecutePlayerActionAsync(command.Action, Mediator);
        }
    }

    private async Task OnContinueDialogueAsync(ContinueDialogue command)
    {
        if (_script is not null)
        {
            await _script.ContinueDialogue(command.Option, Mediator);
        }
    }

    private async Task OnSaveGameAsync(SaveGame _)
    {
        if (_manifest is not null && _script is not null)
        {
            // There's no UI for saving games yet, always save to slot #1.
            await _saveGameRepository.SaveGameAsync(
                _manifest.Metadata.Id,
                1,
                _script.SaveGame());
        }
    }

    private async Task OnLoadGameAsync(LoadGame _)
    {
        if (_manifest is not null && _script is not null)
        {
            // There's no UI for loading games yet, always load from slot #1.
            var state = await _saveGameRepository.LoadGameAsync(
                _manifest.Metadata.Id,
                1);

            if (state is not null)
            {
                await _script.LoadGameAsync(state, Mediator);
            }
        }
    }

    private async Task OnRefreshGameScriptAsync(RefreshGameScript _)
    {
        if (_manifest is not null && _script is not null)
        {
            var state = _script.SaveGame();

            _script = await _gameScriptLoader.LoadFromManifestAsync(_manifest);
            if (_script is not null)
            {
                await _script.LoadGameAsync(state, Mediator);
            }
            else
            {
                // Failed to load script, re-render to show errors.
                StateHasChanged();
            }
        }
    }

    public void Dispose()
    {
        if (_script is not null)
        {
            _script.Dispose();
        }

        _gameScriptLoader.ClearErrors();
    }
}