#container {
    float: left;
    height: 20%;
    width: 50%;
}

.item {
    float: left;
    height: 40%;
    object-fit: contain;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    padding-bottom: 2vh;
    padding-right: 2vh;
}
