#container {
    float: left;
    height: 20%;
    width: 50%;
}

.verb {
    float: left;
    font-size: min(3.5vh, 3.5vw);
    margin: 0px;
    text-align: center;
    width: 33%;
    height: 33%;
}

.verb:hover {
    color: purple;
}