@page
@model PlayModel
@{
    ViewData["Title"] = "Let's play!";
}

@section Scripts {
    <script>
    @Html.Raw($"const PlayerActor = '{Model.PlayerActor}';")
    @Html.Raw($"const GameAssets = {Model.GameAssetsJson};")
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js"></script>
    <script src="dist/bundle.js"></script>
}

<div id="content" style="cursor: none"></div>
