@page "/"
@inject GameCatalog _gameCatalog
@inject IDynamicMediator _mediator

<div>
    <RoomView />
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var games = await _gameCatalog.LoadCatalogAsync();

            if (games.Any())
            {
                var manifest = games.First();

                var script = new GameScript(manifest, _mediator);
                await script.InitializeAsync();

                await _mediator.Publish(new GameStartedEvent(manifest));
            }
        }
    }
}
